.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: .7em;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}