.navigations {
    height: 80px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
    align-items: center;
    margin: 0 auto;

    .logo-container {
        width: 10%;
    }

    .navs {
        display: flex;
        justify-content: space-between;
        width: 30%;
        text-transform: uppercase;
        font-size: .9rem;
    }

    .nav-icons {
        width: 13%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        
    }

    .cart-icon {
    
        

        .item-count {
            position: absolute;
            top: 17px;
            font-weight: bold;
            font-size: .8rem;
            background-color: #4285f4;
            border-radius: 100%;
            width: 20.5px;
            height: 20px;
            text-align: center;
            color: white;
            

        }
    }

}