.cart-icon {
    cursor: pointer;
    
        .item-count {
            position: absolute;
            top: 17px;
            font-weight: bold;
            font-size: .8rem;
            background-color: #4285f4;
            border-radius: 100%;
            width: 20.5px;
            height: 20px;
            text-align: center;
            color: white;
        
        }
 }